

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    height: 100vh;
    padding-top: 52px;/* space between nav and body*/
    background: no-repeat;
    background-image: -webkit-linear-gradient(top,#222 0,#111 100%);
}
.navbar { max-height:28px; height: 28px  }
.alert {
    margin-right:10px;
    height: 28px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    top: 5px;
}
.sidebar-btn{
    min-width:25%;
}
.sidebar-btns{
    width:99%
}
#sidebar{
/*    min-width: 300px;*/
    height: 60vh !important;
    overflow-y: auto; 
    margin-bottom: 5px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding: 0;
    margin: 0;
    min-height: 50vh;
}
.container {
    /* padding-right: 15px;*/
    /* padding-left: 15px; */
     margin-right: auto;
     margin-left: auto;
     width: 100%;
}
.panel{
    padding: 5px;
    padding-bottom: 25px;
}
#myContainer{
    padding: 0;
    margin:0;
}
#gui{
    width: 90% !important;
}
.close-button{
    width: 85% !important;
}
/*
.dg li{
    background-color: #dcdcdc !important;
    color: black;
}
*/
.dg .property-name {
    width: 20% !important;
}
.dg .c {
    width: 80% !important;
}
.dg .slider {
    width: 80% !important;
}
.dg .c input[type=text] {
    width: 20% !important;
}
.well {
   background-color:black !important ; 
   background-image: none;
    padding: 5px;
    padding-bottom: 25px;
}

/*
.navbar { min-height:28px; height: 28px  }
.navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-brand {padding-top:0px;  padding-bottom:0px }
*/

















