<script id="panel1-tpl" type="text/template">
    <div class="col-xs-6 col-lg-6 well">
    <ul class="nav nav-pills">
        <li id="showIK"  class="active tabs" ><a>IK</a></li>
        <li id="showMotors" class="tabs"><a>Motors</a></li>
        <li id="showRads" class="tabs"><a>Rads</a></li>
        <p class="navbar-text" >Controllers</p>
    </ul>
        <!--div id="myGUI"></div>
        <div id="myGUI2" hidden></div-->
        <div id="kinematicsGUI"></div>
        <div id="motorsGUI" hidden></div>
        <div id="radsGUI" hidden></div>
    </div><!--/.col-xs-6.col-lg-4-->
</script>